NEXT_PUBLIC_SUPABASE_URL=https://sfrjtaqdnovquyrhgdyn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmcmp0YXFkbm92cXV5cmhnZHluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5Njc3MjcsImV4cCI6MjA4OTU0MzcyN30.u_2-t7SuVUqDrGZXpMO_Sf9IoPHINrH9FYTfrHAbOZ4
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_P5ojmVDSJD-n3_RswyTmhg_Xp0FhaHy

# Cloudflare R2 Storage
R2_ACCOUNT_ID=cfat_Im3Rb3oxWPDtcpV28nD1tXdJpBKNmAiAM0vWqMP8d101ca6d
R2_ACCESS_KEY_ID=a7f98fecee8d20d686b525ca9b485342
R2_SECRET_ACCESS_KEY=c1c13029e3dec0f612c00e7ef0cfbbb618cd467957c14d6377e739f92640f30b
R2_BUCKET_NAME=poygen
R2_PUBLIC_DOMAIN=
GEMINI_API_KEY=
